/*===============================*/
/*                               */
/*          CSS GENERAL          */
/*                               */
/*===============================*/

/*===========*/
/*  GENERAL  */
/*===========*/

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  display: flex;
}
a{
  text-decoration: none;
}
.cd-about, .cd-main-content{
  display: flex;
  flex-direction: column;
  color: white;
}
/*===============================*/
/*                               */
/*         CSS INDEX.HTML        */
/*                               */
/*===============================*/

/*=========*/
/*  TEXTE  */
/*=========*/
.body_index{
  display: flex;
  justify-content: center;
  background-image: url("imgcss/fontindex.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.txt_index{
  margin-top: 18em;
  font-size: 1.2em;
  flex-direction: column;
  text-align: center;
  font-family: "flashrogersstraight";
  color: white;
}
.span_index{
  color: #DB5100;
}

/*===============================*/
/*                               */
/*         CSS ABOUT.HTML        */
/*                               */
/*===============================*/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul{
  list-style: none;
  display: inline-flex;
  background-color: rgba(159, 159, 159, 0.6);
}
nav li{
  font-size: 1.5em;
  margin: 0.1em;
  color: #DB5100
}
nav a{
  color: white;
}
.logo{
  margin-left: -3em;
  width: 15%;
  height: auto;
}










/*===============================*/
/*                               */
/*   CSS LOADING BAR ANIMATION   */
/*                               */
/*===============================*/


/*==========================*/
/*   BOUTON LOADING BARRE   */
/*==========================*/

.cd-btn {
  display: inline-block;
  padding: 1em 1.2em;
  margin-bottom: 2em;
  border-radius: 0.5em;
  background-color: #FF8F00;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.cd-btn:hover{
  background-color: #118E03;
  box-shadow: 2px 2px 5px white;
}

/*====================*/
/*   MAIN ANIMATION   */
/*====================*/

body::after, body::before {
  content: '';
  height: 50vh;
  width: 100%;
  position: fixed;
  left: 0;
  background-color: #585858;
  z-index: 1;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.4s 0.4s;
  -moz-transition: -moz-transform 0.4s 0.4s;
  transition: transform 0.4s 0.4s;
}
body::before {
  top: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
body::after {
  bottom: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
body.page-is-changing::after, body.page-is-changing::before {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s 0s;
  -moz-transition: -moz-transform 0.4s 0s;
  transition: transform 0.4s 0s;
}

.cd-about .cd-cover-layer {
  background-color: #283040;
}
.page-is-changing .cd-cover-layer {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-loading-bar {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  height: 2px;
  width: 90%;
  background-color: white;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.4s, -webkit-transform 0.4s 0s ease-in;
  -moz-transition: visibility 0s 0.4s, -moz-transform 0.4s 0s ease-in;
  transition: visibility 0s 0.4s, transform 0.4s 0s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-about .cd-loading-bar {
  background-color: white;
}
.cd-about .cd-loading-bar::before {
  background-color: #E24F00;
}
.cd-loading-bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #E24F00;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.page-is-changing .cd-loading-bar {
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
  -moz-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
  -ms-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
  -o-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
  transform: translateX(-50%) translateY(-50%) scaleX(0.3);
  -webkit-transition: visibility 0s 0.3s, -webkit-transform 0.4s 0.4s;
  -moz-transition: visibility 0s 0.3s, -moz-transform 0.4s 0.4s;
  transition: visibility 0s 0.3s, transform 0.4s 0.4s;
}
.page-is-changing .cd-loading-bar::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.8s 0.8s ease-in;
  -moz-transition: -moz-transform 0.8s 0.8s ease-in;
  transition: transform 0.8s 0.8s ease-in;
}
